#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

.text-header {
  color: #fff;
  text-align: center;
}

#container a {
  text-decoration: none;
}

/* css do mapa */
#map {
  width: 100%;
  height: 100%;
}

.header {
  background-color: #fc5c65;
}

.icon-more-about {
  margin-top: 18px;
  font-size: 25px;
  color: #fff;
}

.button-list {
  background-color: #fc5c65;
  color: #fff;
  padding: 8px 15px 8px 15px;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 28px !important;
  margin-bottom: 10px;
}