<ion-header >
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-card *ngFor="let item of itens">
  <ion-item [id]="item.id">
    <!-- <ion-input type="hidden" name="id" ></ion-input> -->
    <ion-img [src]="item.src"></ion-img>
    <ion-label>{{ item.titulo }}</ion-label> 
  </ion-item>
  <ion-card-content>
    {{ item.descricao }} 
  </ion-card-content>
  <ion-item>
    <ion-button fill="outline" slot="end" (click)="detalhes(id)">Detalhes</ion-button>
  </ion-item>
</ion-card>  
</ion-content>
